<template>
  <transition
    appear
    enter-active-class="animated fadeIn"
    leave-active-class="animated fade Out"
    :duration="2000"
  >
    <div class="todoList">
      <div class="q-px-lg q-pt-lg gt-xs" v-if="!pageLoadingState">
        <div class="flex justify-between q-mt-sm q-mb-lg">
          <h6 class="text-24 text-semibold q-my-none onboarding-text-accent-0">
            To-Do List
          </h6>

          <div class="flex justify-end">
            <q-btn
              flat
              rounded
              no-caps
              dense
              class="create-btn"
              @click="$router.push({ name: 'create-todo' })"
              label="Create Task"
            />
          </div>
        </div>

        <div class="flex justify-between q-mb-md gt-xs">
          <div>
            <Filters
              :searchVisible="true"
              :selectVisible="false"
              :filterDateVisible="false"
              pathEndPoint="todoList"
            />
          </div>
        </div>
      </div>

      <div class="todo-list row q-pt-lg q-pl-lg">
        <div class="col-6">
          <div
            class="in-progress onboarding-bg-accent-0 text-center text-white text-bold q-pt-xs q-mb-xs"
          >
            In-Progress
          </div>
          <div
            class="col q-pa-md onboarding-border-accent-0 onboarding-border-radius-10 q-mr-md todo-list-card"
            style="margin-bottom: 10px"
            v-for="(todo, index) in todoList"
            :key="index"
          >
            <q-expansion-item
              expand-icon-toggle
              expand-separator
              :label="todo.task_title"
            >
              <template v-slot:header="{ expanded }">
                <q-item-section
                  v-if="!expanded"
                  class="onboarding-text-accent-0 text-semibold"
                >
                  {{ todo.task_title }}
                </q-item-section>
                <q-item-section
                  v-if="!expanded"
                  side
                  class="onboarding-text-accent-0 text-semibold"
                >
                  {{ todo.date }}
                </q-item-section>
                <q-item-section
                  v-else
                  class="onboarding-text-accent-0 text-semibold"
                >
                  {{ todo.task_title }}
                </q-item-section>
                <q-item-section v-if="expanded" side @click.stop>
                  <q-btn
                    flat
                    round
                    icon="more_horiz"
                    @click="toggleMenu(index)"
                  >
                    <q-menu v-model="showMenu[index]" auto-close>
                      <q-list style="min-width: 100px">
                        <q-item clickable v-close-popup @click="updateTodo()">
                          <q-item-section>Edit</q-item-section>
                        </q-item>
                        <q-item
                          clickable
                          v-close-popup
                          @click="showDeleteDialog"
                        >
                          <q-item-section>Delete</q-item-section>
                        </q-item>
                      </q-list>
                    </q-menu>
                  </q-btn>
                </q-item-section>
              </template>

              <q-card>
                <q-card-section class="q-pa-none todo-list-card">
                  <div>
                    <q-list>
                      <q-item
                        class="q-py-none"
                        v-for="(task, keyIndex) in todo.tasks"
                        :key="keyIndex"
                      >
                        <q-item-section>
                          <q-checkbox
                            v-model="task.checkbox"
                            :label="task.task_name"
                            color="teal"
                          />
                        </q-item-section>
                        <q-item-section>{{ task.time }}</q-item-section>
                      </q-item>
                    </q-list>
                  </div>
                  <div
                    class="text-right onboarding-text-accent-0 text-semibold"
                  >
                    {{ todo.date }}
                  </div>
                </q-card-section>
              </q-card>
            </q-expansion-item>
          </div>
        </div>
        <div class="col-6">
          <div
            class="in-progress onboarding-bg-accent-0 text-center text-white text-bold q-pt-xs q-mb-xs"
          >
            Done
          </div>
          <template v-for="(todo, index) in doneList" :key="index">
            <div
              class="col q-pa-md onboarding-border-accent-0 onboarding-border-radius-10 q-mr-md todo-list-card"
              style="margin-bottom: 10px"
            >
              <q-expansion-item
                expand-icon-toggle
                expand-separator
                :label="todo.task_title"
              >
                <template v-slot:header="{ expanded }">
                  <q-item-section
                    v-if="!expanded"
                    class="onboarding-text-accent-0 text-semibold"
                  >
                    {{ todo.task_title }}
                  </q-item-section>
                  <q-item-section
                    v-if="!expanded"
                    side
                    class="onboarding-text-accent-0 text-semibold"
                  >
                    {{ todo.date }}
                  </q-item-section>
                  <q-item-section
                    v-else
                    class="onboarding-text-accent-0 text-semibold"
                  >
                    {{ todo.task_title }}
                  </q-item-section>
                </template>

                <q-card>
                  <q-card-section class="q-pa-none todo-list-card">
                    <div>
                      <q-list>
                        <q-item
                          class="q-py-none"
                          v-for="(task, keyIndex) in todo.tasks"
                          :key="keyIndex"
                        >
                          <q-item-section>
                            <q-checkbox
                              v-model="task.checkbox"
                              :label="task.task_name"
                              color="teal"
                            />
                          </q-item-section>
                          <q-item-section>{{ task.time }}</q-item-section>
                        </q-item>
                      </q-list>
                    </div>
                    <div
                      class="text-right onboarding-text-accent-0 text-semibold"
                    >
                      {{ todo.date }}
                    </div>
                  </q-card-section>
                </q-card>
              </q-expansion-item>
            </div>
          </template>
        </div>
      </div>
      <q-inner-loading
        class="absolute-center onboarding-bg-primary text-20 full-width full-height onboarding-text-accent-0"
        :showing="pageLoadingState"
      />
    </div>
  </transition>
  <MainDialog :content="$options.components.DeleteModal" />
</template>

<script src="./scripts/TodoList.js"></script>

<style lang="scss" scope>
@import url("./styles/TodoList.scss");
</style>
