.todo-list {
  .in-progress {
    height: 32px;
    width: 122px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
}
.create-btn {
  position: absolute;
  width: 146px;
  height: 32px;
  background-color: #249990;
  color: white;
}
.todoList .flex.items-center .text-26 {
  margin-top: 8px;
}

.todo-list-card {
  border-color: grey;
  background: #f5f5f5;
}

.todo-list-menu {
}

.border-color {
  border-color: #249990;
}
